* {
  background-color: #3c5a99;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main h1{
  font-size: 100px;
}

.email{
  height: 50px;
  color: white;
  width: 250px;
  font-size: 20px;
  border: solid white 2px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  
}

.email::placeholder {
  color: white;
  opacity: 1;
}

.email:focus{
  border-color:whitesmoke;
  box-shadow: 0px 0px 8px 0px whitesmoke;
}

.button{
  margin-right: 20px;
  margin-top: 35px;
  border: solid white 2px;
  cursor:pointer;
  width: 200px;
  height: 60px;
  font-size: 25px;
  transition: 0.5s;
}

.button:hover{
  color: gainsboro;
}